<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.ml.dogedex.DogedexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dogedex">
        <activity
            android:name="com.ml.dogedex.core.doglist.DogListActivity"
            android:exported="false" />
        <activity
            android:name="com.ml.dogedex.core.dogdetail.DogDetailComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_dog_detail_compose"
            android:theme="@style/Theme.Dogedex" />
        <activity
            android:name="com.ml.dogedex.core.WholeImageActivity"
            android:exported="false" />
        <activity
            android:name="com.ml.dogedex.core.ml.MLDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.ml.dogedex.camera.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>